body {
    margin: 0;
    background: rgb(196, 167, 167);
}

.section-detail-header {
    height: 310px;
    background: #e4e6e8;
    margin-top: -10px;
}
.header {
    width:80% ;
    overflow: hidden;
    background:white;
    position: fixed;
    top: 0;
    margin-left: 10%;
    margin-top: -10px;

}

.container {
    background-color: white;
    width: 90%;
    margin: auto;
}

.header .logo {
    font-size: 32px;
    float: left;

}

.header .logo a {
    color: #e4e6e8;
    text-decoration: none;
}
.header .navigation {
    float: right;
    margin-top: 40px;
}

.header .navigation li{
    float: right;
    margin-left:20px ;
    font-size: 18px;
    display: block;

}

.header .navigation li a {
    color: #e4e6e8;
    text-decoration: none;
    padding-left: 10px;
}

.header .navigation li a:hover {
    color: #adaeaf;

}

/* background section conten */
.section-detail-content {
    height: 2000px;
    background: white;
    margin-top: -10px;
}